/*
 * css reset
 */
html,body,div,span,applet,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,
img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,form,fieldset,label,legend,table,caption,tbody,
tfoot,thead,tr,th,td,object,article,aside,dialog,figure,footer,header,hgroup,nav,section
{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;vertical-align:baseline}

article,aside,dialog,figure,footer,header,hgroup,nav,section {display:block}

:focus {outline:0}

ol,ul {list-style:none}

table {border-collapse:separate;border-spacing:0}

caption,th,td {text-align:left;font-weight:normal}

blockquote:before, blockquote:after, q:before, q:after {content:""}

blockquote,q {quotes:"" ""}

* {margin:0;padding:0}

button::-moz-focus-inner {border:0;outline:0;padding:0}

button {-moz-box-sizing:content-box;-ms-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}

button {overflow:visible;width:0}

button[type] {width:auto}

/*
 * typography
 */
body {font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;font-size:87.5%}

h1,h2,h3,h4,h5,h6 {font-weight:normal}

h1 {font-size:1.6em;line-height:1;margin-bottom:0.5em}
h2 {font-size:1.6em;margin-bottom:0.75em}
h3 {font-size:1.2em;line-height:1;margin-bottom:1em}
h4 {font-size:1.1em;line-height:1.25;margin-bottom:1.25em}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em}
h6 {font-size:1em;font-weight:bold}

h1 img,h2 img,h3 img,h4 img,h5 img,h6 img {margin:0}

p {margin:0 0 1.5em;color:#333}

a                {text-decoration:underline}
a:focus, a:hover {text-decoration:none}

blockquote      {margin:1.5em;font-style:italic}
strong          {font-weight:bold}
em,dfn          {font-style:italic}
dfn             {font-weight:bold}
sup,sub         {line-height:0}
abbr,acronym    {border-bottom:1px dotted #666}
address         {margin:0 0 1.5em;font-style:italic}
del             {color:#666}
pre             {margin:1.5em 0;white-space:pre}
pre,code,tt     {font:1em 'andale mono','lucida console', monospace;line-height:1.5}

li ul, li ol {margin:0 1.5em}
ul, ol       {margin:0 1.5em 1.5em 1.5em}
ul           {list-style-type:disc}
ol           {list-style-type:decimal}
dl           {margin: 0 0 1.5em 0}
dl dt        {font-weight:bold}
dd           {margin-left:1.5em}


/*
 * misc classes
 */
.hidden {display:none}

       .clearfix:after,        form div.fe:after    {content:".";display:block;height:0;line-height:0;clear:both;visibility:hidden}
       .clearfix,              form div.fe          {display:inline-table}
/*\*/
* html .clearfix,       * html form div.fe          {height:1%}
       .clearfix,              form div.fe          {display:block}
/**/
       .clearfix,              form div.fe          {min-height:1px}


/*
 * layout
 */
body {background:#16212c;color:#f0f0f0}

#wrapper {background:#234 url('../img/sprite.png') repeat-x 0 -300px;text-align:center}

header, nav, section {position:relative;margin:0 100px;min-width:600px;width:auto !important;width:600px;color:#16212b;text-align:left}
             section {min-width:560px;width:auto !important;width:560px} /* 600 - padding */

header                      {height:100px}
header h1, header h2        {display:block;position:absolute}
header h1                   {top:15px;left:0;font-size:3em}
header h2                   {top:60px;left:70px;font-size:1.2em}
header hgroup span,
header hgroup a             {display:block;text-decoration:none;color:#fff;text-shadow:#000 4px 4px 8px}
header h1 strong            {font-weight:normal;color:#e80}
header h1 a:hover           {text-decoration:underline}

nav {
                height:35px;
         margin-bottom:15px;
            background:url('../img/sprite.png') repeat-x 0 -50px;
    -moz-border-radius:8px/8px;
         border-radius:8px/8px;
       -moz-box-shadow:0px 8px 10px #16212c;
    -webkit-box-shadow:0px 8px 10px #16212c;
            box-shadow:0px 8px 10px #16212c
}

nav ul                                  {position:absolute;top:0;left:20px;margin:0px;padding:0;height:35px;list-style:none;background:#123}
nav li, nav a, nav span                 {display:block}
nav li                                  {float:left}
nav a, nav span                         {height:35px;padding:0 20px;font-size:1.35em;font-weight:bold;line-height:33px;font-size:1.35em;text-decoration:none;color:#123;background:url('../img/sprite.png') repeat-x 0 -50px;text-shadow:#666 1px 1px 4px}
nav a:hover                             {text-decoration:underline}
nav span                                {margin-left:1px;margin-right:1px;background-position:0px -120px;color:#eee}

nav .right                              {left:auto;right:20px}

section {
         margin-bottom:20px;
               padding:20px 20px 35px 20px;
            background:#fff;
    -moz-border-radius:8px/8px;
         border-radius:8px/8px;
       -moz-box-shadow:0px 8px 10px #16212c;
    -webkit-box-shadow:0px 8px 10px #16212c;
            box-shadow:0px 8px 10px #16212c;
}

section h1              {padding-bottom:0.2em;margin-bottom:1.2em;color:#aaa;font-size:1.6em;border-bottom:1px solid #ccc}

body.show section h1    {margin-bottom:0}

section h2,
section h3          {color:#234}
section p a,
section p a:visited {padding:2px 4px;color:#234;border:1px dotted #e0e0e0}
section p a:hover   {background:#234;color:#fff;border:1px solid #123}

/* forms */
form                    {display:block;margin:0 auto}

form#contact            {max-width:500px}

form .fe                {margin:0;padding:10px 0;background:#fff;border-bottom:1px solid #d0d8d9}
form .fe-first          {padding-top:0}
form .fe-last           {border:0}

label, input,       textarea       {display:block;width:99%;margin:0;padding:0;font-size:1.1em;color:#123}
label                              {padding-bottom:0.35em}
       input,       textarea       {padding:0.25em 0.5%;line-height:1.2em;border:1px solid #aaa}
       input:hover, textarea:hover,
       input:focus, textarea:focus {border-color:#666}
                    textarea       {height:300px}

.fe_is_public       {position:relative}
.fe_is_public input {position:absolute;top:12px;left:5px;width:auto}
.fe_is_public label {width:auto;margin-left:30px;padding-bottom:0}

* html             .fe_is_public input {top:10px;border:0}
*:first-child+html .fe_is_public input {top:10px;border:0}

.fe_is_anon       {position:relative}
.fe_is_anon input {position:absolute;top:12px;left:5px;width:auto}
.fe_is_anon label {width:auto;margin-left:30px;padding-bottom:0}

* html             .fe_is_anon input {top:10px;border:0}
*:first-child+html .fe_is_anon input {top:10px;border:0}

form label a {color:#222}

form .fe-buttons                    {padding:5px 0 0 0}
form .fe-buttons button             {display:block;float:right;margin-left:5px;border:1px solid #d0d8d8;background:#e5ecf9}
form .fe-buttons button span        {display:block;padding:5px 25px;color:#123}
form .fe-buttons button:hover       {background:#234;border-color:123}
form .fe-buttons button:hover span  {color:#fff;cursor:pointer}

form .fe-buttons-single                    {padding:5px 0 0 0}
form .fe-buttons-single button             {display:block;float:left;margin-right:5px;border:1px solid #d0d8d8;background:#e5ecf9}
form .fe-buttons-single button span        {display:block;padding:5px 25px;color:#123}
form .fe-buttons-single button:hover       {background:#234;border-color:123}
form .fe-buttons-single button:hover span  {color:#fff;cursor:pointer}
form p.nfo-required {font-size:0.8em;color:#888}

form sup.fe-required {font-size:1.2em;color:#800}

.password2 {display:none;}

div.explain-form            {margin-bottom:5px;text-align:center}
div.explain-form a          {padding:0 1em 0.5em 1em;border:1px solid #ccc;background:#f8f8f8;color:#666;text-decoration:none;-moz-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px}
div.explain-form a span     {font-size:0.9em;position:relative;top:0.2em}
div.explain-form a:hover    {background:#e5ecf9}

#explain-form               {margin:0;padding:10px;background:#e5ecf9;border:1px solid #ccc;border-top:0;text-align:left}
#explain-form h3            {font-size:1em;margin-bottom:0.35em;color:#234}
#explain-form ul            {list-style:none;margin:0 0 15px 10px}
#explain-form li,
#explain-form input,
#explain-form label         {display:inline;width:auto;font-size:0.95em}
#explain-form li            {margin:0 15px 0 0}
#explain-form input         {position:relative;top:2px}
#explain-form .fe-buttons   {padding:0;background:none;border:none}
#explain-form button        {float:none;margin:0}

* html             #explain-form input {border:0}
*:first-child+html #explain-form input {border:0}

.result                         {margin:0;padding:0}
 .result-text, .result-html, .result-stats     {margin:0;padding:0;border:1px solid #ccc;overflow:auto}
 .result-text                   {background:#222 url('../img/code-bg.gif');color:#fff}
 .result-text pre               {margin:0;padding:1em}

.result .tabs ul                {margin:0;padding:0;list-style:none}
.result .tabs li                {display:block;float:left;margin-right:1px}
.result .tabs a                 {display:block;padding:4px 12px;background:#cfcfcf;color:#fff;text-decoration:none;font-weight:bold}
.result .tabs a:hover           {color:#234}
.result .tabs a.current,
.result .tabs a.current:hover   {background:#234;color:#fff}

.result .tabs .html a {
    -moz-border-radius:4px 0px 0px 0px;
         border-radius:4px 0px 0px 0px
}

.result .tabs .stats a {
    -moz-border-radius:0px 4px 0px 0px;
         border-radius:0px 4px 0px 0px
}

.result-html table#explain {margin:5px;border-collapse:collapse}

.result-html table#explain th,
.result-html table#explain td {padding:4px 8px;border:1px solid #ccc;background:#fff;text-align:left;vertical-align:top}

.result-html table#explain th   {background:#234;text-align:center}
.result-html table#explain th.n {text-align:left}

.result-html table#explain th a,
.result-html table#explain th span {font-size:1.2em;color:#fff;white-space:nowrap}

.result-html table#explain tbody tr {cursor:pointer}

.result-html table#explain td   {text-align:right}
.result-html table#explain td.n {text-align:left}

.result-html table#explain td.e,
.result-html table#explain td.i,
.result-html table#explain td.x {white-space:nowrap}

/* currently not used */
.result-html table#explain        td.c-1,
.result-html table#explain tr.c-1 td        {background:#fff}

.result-html table#explain tr.even td {background:#e5ecf9}

/* !important overrides tr.even */
.result-html table#explain tr.c-2 td,
.result-html table#explain tr.c-m td.c-2 {background-color:#fe8 !important}
.result-html table#explain tr.c-3 td,
.result-html table#explain tr.c-m td.c-3 {background-color:#e80 !important;color:#fff}
.result-html table#explain tr.c-4 td,
.result-html table#explain tr.c-m td.c-4 {background-color:#800 !important;color:#fff}

/* tr hover */
.result-html table#explain tr.hover      td,
.result-html table#explain tr.hover.even td {background-color:#d0d8d8 !important}

/* !important overrides tr.c-[1..4] */
.result-html table#explain tr.hover.c-2 td,
.result-html table#explain tr.hover.c-m td.c-2 {background-color:#ec5 !important}
.result-html table#explain tr.hover.c-3 td,
.result-html table#explain tr.hover.c-m td.c-3 {background-color:#c60 !important}
.result-html table#explain tr.hover.c-4 td,
.result-html table#explain tr.hover.c-m td.c-4 {background-color:#600 !important}

/* tr collapsed */ 
.result-html table#explain tr.collapsed td {border-bottom:3px dashed #888}

.result-html table#explain tr.collapsed.c-2 td,
.result-html table#explain tr.collapsed.c-m td.c-2 {border-bottom-color:#ec5}
.result-html table#explain tr.collapsed.c-3 td,
.result-html table#explain tr.collapsed.c-m td.c-3 {border-bottom-color:#c60}
.result-html table#explain tr.collapsed.c-4 td,
.result-html table#explain tr.collapsed.c-m td.c-4 {border-bottom-color:#600}

.result-html table#explain td.n div   {position:relative;min-height:22px;height:auto !important;height:22px}
.result-html table#explain td.n p,
.result-html table#explain td.n ul    {margin:0;padding:0}
.result-html table#explain td.n ul    {list-style:none}
.result-html table#explain td.n li    {padding-top:0.5em}

.result-html table#explain td.n p span.est,
.result-html table#explain td.n p span.act {white-space:nowrap}

/* all ico(ns) */
.result-html table#explain td.n div.ico {position:absolute;top:-4px;left:-22px;width:22px;height:22px;background:url('../img/sprite.png') no-repeat 0px -180px;text-indent:-1000px;overflow:hidden}

/* white arrow */
.result-html table#explain tr.c-3 td.n div.ico,
.result-html table#explain tr.c-4 td.n div.ico {background-position:0px -224px}

/* for td.r(ows), td.l(oops) */
.result-html table#explain .tight span {display:none}
.result-html table#explain .tight,
.result-html table#explain .tight a    {padding-left:0 !important;padding-right:0 !important;width:1px !important;overflow:hidden;text-align:left;text-indent:-10000px}
.result-html table#explain .tight a    {margin:0 1px;background:url('../img/sprite.png') top left}

.result-html table#explain p {color:inherit}

* html .result-html table#explain tr.c-3 td     p,
* html .result-html table#explain tr.c-m td.c-3 p,
* html .result-html table#explain tr.c-4 td     p,
* html .result-html table#explain tr.c-m td.c-4 p {color:#fff !important}

*:first-child+html .result-html table#explain tr.c-3 td     p,
*:first-child+html .result-html table#explain tr.c-m td.c-3 p,
*:first-child+html .result-html table#explain tr.c-4 td     p,
*:first-child+html .result-html table#explain tr.c-m td.c-4 p {color:#fff !important}

.result-html table#explain tbody tr.sub-n td.n {background-image:url('../img/star.png');background-position:top left;background-repeat:no-repeat}

.result-html table#explain tbody tr.sp td.n,
.result-html table#explain tbody tr.ip td.n {background-image:none}

#explain tbody tr td.u a {font-size:14px;text-decoration:none;color:#16212B}

/* for "help" */
p.slogan         {font-style:italic}
p strong         {color:#234}

ul.colors        {list-style:none;width:60%}
ul.colors li     {padding:4px 6px;border-bottom:1px solid #fff}
ul.colors li.c-1 {background:#fff}
ul.colors li.c-2 {background:#fe8}
ul.colors li.c-3 {background:#e80;color:#fff}
ul.colors li.c-4 {background:#800;color:#fff}

/* history */
p.msg                   {padding:1em;border:1px dotted #e0e0e0}
p.msg-error             {color:#800}

div.history             {margin-bottom:20px}
div.history ul          {margin:0;padding:0;list-style:none}
div.history li          {display:block;float:left;margin:0 10px 10px 0}
div.history li a        {display:block;width:140px;height:20px;line-height:20px;border:1px dotted #ccc;text-align:center;overflow:hidden;text-decoration:none;font-size:0.9em;font-weight:bold;color:#234}
div.history li a:hover  {border:1px solid #a60;background:#e80;color:#fff}

div.paginator           {position:relative;height:3em}
div.paginator a         {position:absolute;top:0;font-size:1.1em;color:#234}
div.paginator a.older   {right:0}
div.paginator a.newer   {left:0}

footer                  {padding-top:15px;background:url('../img/sprite.png') repeat-x 0 -155px}
footer div              {padding-top:10px;background:#16212c}
footer p                {text-shadow:#101921 0px 2px 6px}
footer p,
footer a                {color:#2c4054}
footer a:hover          {color:#e80}

.auto-hint { color: #aaaaaa }

div.message { border: 2px solid #f00; padding: 0.5em; text-align: center; background: #600; }
div.message p.message { font-weight: bold; font-size: 2em; color: #ff0; padding: 0; margin: 0; margin-bottom: 1em; }
div.message p.messageSimple { margin-bottom: 0.5em; margin-top: 0.5em; }
div.message p.hint { color: #ff0; padding: 0; margin: 0; }
div.message p.hint a { color: #ff0; }
div.message p.hint a:hover { color: #ff0; }
div.message p.message a,
div.message p.message a:visited {color:#ff0;border: none;}
div.messageNice { border: 2px solid #0f0; background: #060; }

div.plea { float: right; color: #666; }

.result-stats h1 {color:#123}
.result-stats table {margin:5px;border-collapse:collapse}

.result-stats table th,
.result-stats table td {padding:4px 8px;border:1px solid #ccc;background:#fff;text-align:left;vertical-align:top}

.result-stats table th   {background:#234;text-align:center;color:#fff}
.result-stats table td.count,
.result-stats table td.time,
.result-stats table td.percent { text-align: right }
.result-stats table td.table-name { font-weight: bold; }
.result-stats table td.scan-type { padding-left: 2em; }
.result-stats table tr.table-summary td { background: #e5ecf9 }

/**
 * new
 */
.user-history .row                  {display:block;padding:.2em 0;width:100%;background:#f0f0f0}
.user-history .row .column          {float:left;margin-right:1%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.user-history div.row               {padding:.4em 0;background-color:rgb(34, 51, 68);color:#f0f0f0}
.user-history div.row .column       {text-align:center;font-size:1.1em}
.user-history .row .id              {width:5%;margin-left:1%}
.user-history .row .id a            {color:#333;text-decoration:none}
.user-history .row .id a:hover           {text-decoration:underline}
.user-history .row .title           {width:62%}
.user-history .row .is-public       {width:4%}
.user-history .row .is-anonymized   {width:4%}
.user-history .row .delete          {width:9%}
.user-history .row .action          {width:9%}

.user-history form.row .id,
.user-history form.row .is-public,
.user-history form.row .is-anonymized {padding-top:.4em}

.user-history .row input {width:96%}

.user-history .first-row {padding-top:.5em}
.user-history .last-row  {padding-bottom:.5em}

.user-history .row .action button             {display:block;margin:0 auto;border:1px solid #d0d8d8;background:#e5ecf9}
.user-history .row .action button span        {display:block;padding:.4em .4em;color:#123}
.user-history .row .action button:hover       {background:#234;border-color:123}
.user-history .row .action button:hover span  {color:#fff;cursor:pointer}

.user-history div.date              {background:#ddd;text-align:center;font-style:italic;color:#333;}

#contactForm { display: none; }
#contactWait { border: 2px solid #00f; padding: 0.5em; text-align: center; background: #006; margin: 1em; padding: 1em;}
#contactWait p { font-weight: bold; font-size: 2em; color: #ccc; padding: 0; margin: 0; margin-bottom: 1em; }
#contactWait p.hint { font-weight: normal; font-size: 1.5em; margin-bottom: 0em; }

#total-times {margin: 1em 0px;border:1px solid #ccc; background: #eee;}
#total-times th { font-size: 1.2em; font-weight: bold; }
#total-times .separator { padding: 0px 1em; }
#total-times td { text-align: right; }
#total-times span.value { font-size: 1.2em; }
#total-times tr.both.planning td,
#total-times tr.both.planning th { border-bottom:1px dotted #666}
#total-times td,
#total-times th { padding: 0.2em 0.4em;}

#trigger-times {margin: 1em 0px;background: #eee;}
#trigger-times,
#trigger-times th,
#trigger-times td {border-collapse: collapse; border:1px solid #ccc;}
#trigger-times th { font-size: 1.2em; font-weight: bold; padding: 0.2em 0.5em;}
#trigger-times thead th {text-align: center}
#trigger-times th.top {font-size: 1.5em;}
#trigger-times td {text-align: right; padding: 0.2em 0.5em;}
#trigger-times span.value { font-size: 1.2em; }
#trigger-times tr.c-2 {background-color:#fe8 !important}
#trigger-times tr.c-3 {background-color:#e80 !important;color:#fff}
#trigger-times tr.c-4 {background-color:#800 !important;color:#fff}
